h1{
    color:white;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#enlaces{
    color:white;
    text-decoration-line: none;
}

#enlaces2{
    color:blue;
    text-decoration-line: none;
}

#subtitulo{
    color:white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

header{
    background-color: rgb(78, 175, 240);
    height: 200px;
    border-radius: 10px;
}

button{
    width: 100px;
    height: 40px;
}


button:hover{
    background-color: greenyellow;
}

#imagen-icono{
    width: 30px;
    height: 30px;
}

#imagen-icono-grande{
    width: 80px;
    height: 60px;
}

.boton-navegador{
    background-color:peru;
    border: violet;
    border-width: 5px;
    padding: auto;
}

.boton-navegador-sesion{
    width: 200px;
    height: 40px;
    background-color:rgb(113, 167, 189);
    border: violet;
    border-width: 5px;
    padding: auto;
    border-radius: 10px;  
}

#division-grande-evaluar{
    width: 1000px;
    height: 400px;
    background-color:rgba(173, 178, 180, 0.555);
    border: rgb(124, 214, 187);
    border-width: 5px;
    padding: auto;
    border-radius: 2px;
}

#division-grande{
    width: 1000px;
    height: 600px;
    background-color:rgba(173, 178, 180, 0.555);
    border: rgb(124, 214, 187);
    border-width: 5px;
    padding: auto;
    border-radius: 2px;
}

#division-pequeña-evaluar{
    width: 500px;
    height: 250px;
    background-color:rgba(242, 246, 248, 0.555);
    border: rgb(124, 214, 187);
    border-width: 5px;
    padding: auto;
    border-radius: 2px;
}

#division-titulo-pequeña-evaluar{
    width: 500px;
    height: 30px;
    background-color:rgba(23, 23, 24, 0.199);
    border: rgb(124, 214, 187);
    border-width: 5px;
    padding: auto;
    border-radius: 2px;
}

#division-mediana-evaluar{
    width: 900px;
    height: 90px;
    background-color:rgba(242, 246, 248, 0.555);
    border: rgba(8, 8, 8, 0);
    border-width: 20px;
    padding: auto;
    border-radius: 2px;
}

#division-titulo-mediana-evaluar{
    width: 900px;
    height: 30px;
    background-color:rgba(23, 23, 24, 0.199);
    border: rgb(124, 214, 187);
    border-width: 5px;
    padding: auto;
    border-radius: 2px;
}

p{
    color:white;
    text-align: justify;
    font-size: 18px;
}

#texto-header-inicio{
    color:white;
    font-size: 24px;
}

#texto-header-inicio-m{
    color:white;
    font-size: 20px;
}

.imagenes-cafe{
    width: 500px;
    height: 300px;
    margin: auto;
    padding: 20om;
}

.imagen-logo{
    width: 500px;
    height: 150px;
    margin: auto;
    padding: 20om;
}

.text-area{
    width: 400px;
    height: 80px;
    margin: auto;
    padding: 20om;
}