body{
    background-repeat: no-repeat;
	background-size: 100%;
    background-attachment: fixed;
}
img{
    height: 30px;
    width: 80px;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 15px;
}

.container{
    display: flex;
}

.cuadrado2{
    margin: 1em;
    padding: 1em;
    width: 2000px;
}

.cajatexto{
    width: 450px;
}

